{% load i18n sizeformat parse_date %}
{% load url from future %}

<div class="info row detail">
  <hr class="header_rule">
  <dl>
    <dt>{% trans "Name" %}</dt>
    <dd>{{ contract.name|default:_("-") }}</dd>

    <dt>{% trans "Description" %}</dt>
    <dd>{{ contract.description|default:_("-") }}</dd>

    <dt>{% trans "ID" %}</dt>
    <dd>{{ contract.id }} </dd>

    <dt>{% trans "Project ID" %}</dt>
    <dd>{{ contract.tenant_id }}</dd>
    <dt>{% trans "Policy Rules" %}</dt>
    <dd>
      {% if contract.policy_rules %}
      {% for policy_rule in contract.policy_rules %}
      {% url 'horizon:project:contracts:policyruledetails' policy_rule as rule_url %}
      {{ rule.position }} : <a href="{{ rule_url }}">{{ policy_rule }}</a><br>
      {% endfor %}
      {% else %}
      {% trans "-" %}
      {% endif %}
    </dd>
  </dl>
</div>

